@page
@model GryDoPrzejscia.Pages.GamesList.IndexModel

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Lista gier do przejścia</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-page="create" class="btn btn-primary">
                <i class="bi bi-database-add"></i> &nbsp;Add new Game
            </a>
        </div>
    </div>
    <br /><br />

    <div class="row pb-3">
        <div class="col-12">
            <input id="searchInput" type="text" class="form-control" placeholder="Wyszukaj grę...">
        </div>
    </div>

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Nazwa Gry
                </th>
                <th>
                    Launcher
                </th>
                <th>
                    Gram
                </th>
                <th>
                    Skończyłem
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.GamesList)
            {
                <tr>
                    <td>
                        @obj.Name
                    </td>
                    <td>
                        @obj.Launcher
                    </td>
                    <td>
                        <input type="checkbox" @(obj.isPlayed ? "checked" : "") disabled>
                    </td>
                    <td>
                        <input type="checkbox" @(obj.isFinished ? "checked" : "") disabled>
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-page="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a asp-page="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">
                                <i class="bi bi-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    document.getElementById("searchInput").addEventListener("input", function () {
        var searchText = this.value.toLowerCase();
        var rows = document.querySelectorAll("tbody tr");

        rows.forEach(function (row) {
            var nameCell = row.querySelector("td:nth-child(1)");
            var launcherCell = row.querySelector("td:nth-child(2)");
            var isVisible = nameCell.textContent.toLowerCase().includes(searchText) ||
                            launcherCell.textContent.toLowerCase().includes(searchText);

            row.style.display = isVisible ? "" : "none";
        });
    });
</script>