@page "{pageIndex:int?}"
@model GryDoPrzejscia.Pages.GamesList.IndexModel

@{
	ViewData["Title"] = "Lista gier";
}

<div class="container p-1 mt-0">
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary">Lista gier</h2>
		</div>
		<div class="col-6 text-end">
			<a asp-page="create" class="btn btn-primary">
				<i class="bi bi-database-add"></i> &nbsp;Add new game
			</a>
		</div>
	</div>

	<br />

	<div class="row pb-3">
		<div class="input-group mb-3">
			<input type="text" class="form-control" id="searchInput" placeholder="Szukaj..." style="display:none" />
			<button class="btn btn-secondary" style="border: 0 0.375rem 0.375rem 0" type="button" onclick="toggleSearch()"><i class="bi bi-search"></i></button>
		</div>
	</div>


	<table id="listaGier" class="table table-sm table-bordered table-striped">
		<thead>
			<tr>
				<th style="text-align:center">
					#
				</th>
				<th style="text-align:center">
					Nazwa
				</th>
				<th style="text-align:center">
					Launcher
				</th>
				<th style="text-align:center">
					Gram
				</th>
				<th style="text-align:center">
					Skończyłem
				</th>
				<th style="text-align:center"></th>
			</tr>
		</thead>
		<tbody class="m-1">
			@{
				int index = 1;
			}
			@foreach (var item in Model.GameList)
			{
				<tr style="vertical-align: middle">
					<td class="text-center">
						@(index++)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Launcher)
					</td>
					<td>
						<div style="display: flex; justify-content: center;">
							@Html.DisplayFor(modelItem => item.isPlayed)
						</div>
					</td>
					<td>
						<div style="display: flex; justify-content: center;">
							@Html.DisplayFor(modelItem => item.isFinished)
						</div>
					</td>
					<td class="d-flex justify-content-center">
						<div class="btn-group" role="group">
							<a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-primary mx-1">
								<i class="bi bi-pencil-square"></i>
							</a>
							<a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-secondary mx-1">
								<i class="bi bi-clipboard2-data-fill"></i>
							</a>
							<a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger mx-1">
								<i class="bi bi-trash"></i>
							</a>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>