@page
@model GryDoPrzejscia.Pages.GamesList.IndexModel

@{
	ViewData["Title"] = "Lista gier";
}

<div class="container p-3">
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary">Lista gier</h2>
		</div>
		<div class="col-6 text-end">
			<a asp-page="create" class="btn btn-primary">
				<i class="bi bi-database-add"></i> &nbsp;Add new game
			</a>
		</div>
	</div>
	<br /><br />

	@* <div class="row pb-3">
	<div class="col-12" id="searchContainer">
	<button class="btn btn-secondary" onclick="toggleSearch()"><i class="bi bi-search"></i></button>
	<input id="searchInput" type="text" class="form-control" placeholder="Wyszukaj grę...">
	</div>
	</div> *@

	<form asp-page="./Index" method="get">
		<div class="row pb-3">
			<div class="input-group mb-3">
				<input type="text" class="form-control" name="SearchString" value="@Model.CurrentFilter" />
				<button class="btn btn-secondary" style="border: 0 0.375rem 0.375rem 0" type="submit"><i class="bi bi-search"></i></button>
			</div>
		</div>
	</form>


	<table id="listaGier" class="table table-bordered table-striped" style="width:100%">
		<thead>
			<tr>
				<th style="text-align:center">
					#
				</th>
				<th style="text-align:center">
					Nazwa
				</th>
				<th style="text-align:center">
					Launcher
				</th>
				<th style="text-align:center">
					Gram
				</th>
				<th style="text-align:center">
					Skończyłem
				</th>
				<th style="text-align:center; width:25%"></th>
			</tr>
		</thead>
		<tbody>
			@{
				int index = 1;
			}
			@foreach (var item in Model.GameList)
			{
				<tr style="vertical-align: middle">
					<td class="text-center">
						@(index++)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Launcher)
					</td>
					<td>
						<div style="display: flex; justify-content: center;">
							@Html.DisplayFor(modelItem => item.isPlayed)
						</div>
					</td>
					<td>
						<div style="display: flex; justify-content: center;">
							@Html.DisplayFor(modelItem => item.isFinished)
						</div>
					</td>
					<td>
						<div class="w-75 btn-group" role="group">
							<a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-primary mx-2">
								<i class="bi bi-pencil-square"></i>
							</a>
							<a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-secondary mx-2">
								<i class="bi bi-clipboard2-data-fill"></i>
							</a>
							<a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger mx-2">
								<i class="bi bi-trash"></i>
							</a>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>

